doctype html
html(lang="en")
	head
		block title
			title #{title}
		include ./includes/styles.jade
	body
		include ./includes/header.jade
		block content
		include ./includes/footer.jade
		block other_scripts
