//- includes all of our styles here

//- bootstrap, will load dynamically with server
link(rel='stylesheet', href='/stylesheets/bootstrap_css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')